@charset "utf-8";

*#dm *.p_hfcontainer div.u_1160401593 {
    padding-top: 0!important;
    padding-bottom: 0!important;
    padding-left: 40px!important;
    float: none!important;
    margin-right: auto!important;
    margin-left: auto!important;
    top: auto!important;
    max-width: none!important;
    left: 0!important;
    width: 100%!important;
    margin-top: 0!important;
    position: relative!important;
    margin-bottom: 0!important;
    padding-right: 40px!important;
    min-width: 0!important;
    text-align: center!important;
    height: auto!important;
}